html,
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #272727;
  color: #fff;
  font-family: Roboto;
  font-weight: 400;
  /* 1rem == 12px */
  font-size: 12px;
  /* Disable scrolling on the body; it can be re-enabled for specific children */
  overflow: hidden;
}

#app-shell-container {
  display: flex;
  width: 100vw;
  height: 100%;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

/* Render subscripts and superscripts without affecting line height */
sup,
sub {
  vertical-align: 0;
  position: relative;
}
sup {
  bottom: 0.7ex;
}
sub {
  top: 0.6ex;
}

select {
  margin-right: 1rem;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  /* XXX: Remove browser-provided background, but preserve arrow; based on: https://stackoverflow.com/a/57510283 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.2rem 1.6rem 0.2rem 0.4rem;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23555'><polygon points='0,0 100,0 50,60'/></svg>")
    no-repeat;
  background-size: 0.8rem;
  background-position: calc(100% - 0.4rem) 70%;
  background-repeat: no-repeat;
  background-color: #353535;
  border: none;
  border-radius: 0.4rem;
  color: #ddd;
}

select > option {
  /* XXX: Firefox doesn't support @font-face in select menus, so the best we can do is try a similar sans serif font */
  font-family: Roboto, sans-serif;
}

/*
 * Standard colors
 */

:root {
  --dataset-0: crimson;
  --dataset-1: deepskyblue;
  --bucket-undefined: #555;
  --bucket-0: green;
  --bucket-1: orange;
  --bucket-2: orangered;
  --bucket-3: crimson;
  --bucket-4: magenta;
  --bucket-5: #888;
  --status-none: #555;
  --status-passed: limegreen;
  --status-failed: crimson;
  --status-warning: orange;
  --status-error: orangered;
  --status-skipped: #888;
}

.dataset-color-0 {
  color: var(--dataset-0);
}
.dataset-color-1 {
  color: var(--dataset-1);
}
.bucket-color-undefined {
  color: var(--bucket-undefined);
}
.bucket-color-0 {
  color: var(--bucket-0);
}
.bucket-color-1 {
  color: var(--bucket-1);
}
.bucket-color-2 {
  color: var(--bucket-2);
}
.bucket-color-3 {
  color: var(--bucket-3);
}
.bucket-color-4 {
  color: var(--bucket-4);
}
.bucket-color-5 {
  color: var(--bucket-5);
}
.status-color-none {
  color: var(--status-none);
}
.status-color-passed {
  color: var(--status-passed);
}
.status-color-failed {
  color: var(--status-failed);
}
.status-color-warning {
  color: var(--status-warning);
}
.status-color-error {
  color: var(--status-error);
}
.status-color-skipped {
  color: var(--status-skipped);
}

.dataset-bg-0 {
  background-color: var(--dataset-0);
}
.dataset-bg-1 {
  background-color: var(--dataset-1);
}
.bucket-bg-undefined {
  background-color: var(--bucket-undefined);
}
.bucket-bg-0 {
  background-color: var(--bucket-0);
}
.bucket-bg-1 {
  background-color: var(--bucket-1);
}
.bucket-bg-2 {
  background-color: var(--bucket-2);
}
.bucket-bg-3 {
  background-color: var(--bucket-3);
}
.bucket-bg-4 {
  background-color: var(--bucket-4);
}
.bucket-bg-5 {
  background-color: var(--bucket-5);
}
.status-bg-none {
  background-color: var(--status-none);
}
.status-bg-passed {
  background-color: var(--status-passed);
}
.status-bg-failed {
  background-color: var(--status-failed);
}
.status-bg-warning {
  background-color: var(--status-warning);
}
.status-bg-error {
  background-color: var(--status-error);
}
.status-bg-skipped {
  background-color: var(--status-skipped);
}

.dataset-border-0 {
  border-color: var(--dataset-0);
}
.dataset-border-1 {
  border-color: var(--dataset-1);
}
.bucket-border-undefined {
  border-color: var(--bucket-undefined);
}
.bucket-border-0 {
  border-color: var(--bucket-0);
}
.bucket-border-1 {
  border-color: var(--bucket-1);
}
.bucket-border-2 {
  border-color: var(--bucket-2);
}
.bucket-border-3 {
  border-color: var(--bucket-3);
}
.bucket-border-4 {
  border-color: var(--bucket-4);
}
.bucket-border-5 {
  border-color: var(--bucket-5);
}
.status-border-none {
  border-color: var(--status-none);
}
.status-border-passed {
  border-color: var(--status-passed);
}
.status-border-failed {
  border-color: var(--status-failed);
}
.status-border-warning {
  border-color: var(--status-warning);
}
.status-border-error {
  border-color: var(--status-error);
}
.status-border-skipped {
  border-color: var(--status-skipped);
}

/* Add this class to disable text selection */
.no-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  cursor: default;
}

/* Add this class to re-enable text selection */
.allow-selection {
  -webkit-touch-callout: default; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Old versions of Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  cursor: text;
}
