# Project files
models/**/build*
models/**/output*
app_spec.json
removals.txt
.DS_Store
*.java
*.tokens
*.class
*.vdf
*.vdfx
*.vdf64
*.3vm
*.2mdl
*.o
*.dSYM
# Logs
npm-debug.log*
# Dependency directories
emsdk
node_modules
