# SDEverywhere intermediate files
models/**/build*
models/**/output*
models/**/compare
removals.txt

# macOS
.DS_Store

# C / Xcode
*.o
*.dSYM

# Java
*.java
*.tokens
*.class

# Vensim
*.vdf
*.vdfx
*.vdf64
*.3vm
*.2mdl

# Stella
*.isdb

# Logs
npm-debug.log*

# Dependency directories
emsdk
node_modules
