# Project files
models/**/build*
models/**/output*
models/**/web_spec.json
removals.txt
.DS_Store
*.java
*.tokens
*.class
*.vdf
*.vdf64
*.3vm
*.2mdl
*.o
*.dSYM
# Logs
npm-debug.log*
# Dependency directories
node_modules
