html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

/*
 * Top panel: graphs
 */

#graphs-container {
  padding: 0 10px;
}

#graph-selector {
  margin-top: 10px;
}

/*
 * This container is set up to allow for automatic responsive sizing
 * by Chart.js.  For this to work, we need the canvas element to have
 * this parent container with `position: relative` and fixed dimensions
 * using `px` or `vw`/`vh` units.
 */
.graph-container {
  position: relative;
  width: 100%;
  height: 40vh;
}

#top-graph-container {
  margin-top: 16px;
  margin-bottom: 10px;
}

/*
 * Bottom panel: sliders and switches
 */

#inputs-container {
  display: inline-flex;
  flex-direction: column;
  padding: 0 10px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #ddd;
}

.input-title-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 12px;
}

.input-title {
  flex: 1;
  font-weight: bold;
  font-size: 1.2em;
  color: #111;
}

.input-value {
  font-weight: bold;
  font-size: 1.2em;
  color: #111;
}

.input-units {
  margin-left: 5px;
  font-size: 1em;
  color: #111;
}

.input-desc {
  font-style: italic;
  color: #333;
  margin-bottom: 24px;
}

.switch-checkbox {
  margin-bottom: 8px;
}

.switch-label {
  font-weight: bold;
  font-size: 1.2em;
  color: #111;
  vertical-align: middle;
  margin-left: 6px;
}

/*
 * Customizations for bootstrap-slider
 */

.slider.slider-horizontal {
  width: 94%;
  height: 16px;
  margin-left: 3%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.slider.slider-horizontal .slider-track {
  height: 8px;
  top: 4px; /* (slider-handle:height / 2) - (slider-track:height / 2) */
  margin-top: 0;
}

.slider-rangeHighlight {
  background: #5588ff;
}

.slider-handle {
  width: 16px;
  height: 16px;
  background: #000;
}

.slider.slider-horizontal .slider-handle {
  margin-left: -8px;
}
